{
  "openapi": "3.1.0",
  "info": {
    "title": "Superseeded API",
    "description": "Modern nursery industry API for reconciling plant specifications, resolving equivalence and assessing logistical risks for plant stock.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "name": "Superseeded Support"
    }
  },
  "servers": [
    {
      "url": "https://api.superseeded.ai/v1",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "Resolvers",
      "description": "Endpoints for cleaning, normalizing, and interpreting messy nursery data."
    },
    {
      "name": "Validation",
      "description": "Endpoints for validating botanical species names against taxonomic databases."
    },
    {
      "name": "System",
      "description": "Health checks and service status."
    }
  ],
  "paths": {
    "/routes/from-upload": {
      "get": {
        "tags": ["System"],
        "summary": "Route Discovery",
        "description": "Returns a list of available API routes that can be called after a file upload completes. This allows integrations to dynamically discover what processing options are available.",
        "operationId": "getRoutesFromUpload",
        "responses": {
          "200": {
            "description": "List of available post-upload processing routes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteDiscoveryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": ["System"],
        "summary": "Service Health Check",
        "description": "Verifies that the API gateway and underlying matcher services are operational.",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "service": {
                      "type": "string",
                      "example": "Superseeded Resolver Service"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verify/pot-sizes": {
      "post": {
        "tags": ["Resolvers"],
        "summary": "Resolve Specs",
        "description": "Unified endpoint for resolving plant specifications. Accepts input as: (1) JSON body with items array, (2) JSON body with file_url from TUS upload, or (3) multipart form-data with direct file upload. Supported file formats: JSON, XLSX, XLS, PDF, TXT, PNG, JPG, JPEG, GIF, WEBP. Authentication: Basic/Pro plans use X-API-Key header; Teams plans with platform integration require Authorization Bearer token.",
        "operationId": "resolveSpecs",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Object containing a list of raw spec strings to be resolved, file reference, or direct file upload.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveSpecsRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload. Supported formats: JSON, XLSX, XLS, PDF, TXT, PNG, JPG, JPEG, GIF, WEBP."
                  },
                  "extraction_type": {
                    "type": "string",
                    "default": "pot_sizes",
                    "enum": ["pot_sizes", "species", "generic"],
                    "description": "What to extract from the file."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful resolution with detailed hierarchy data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveSpecsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid JSON format."
          },
          "401": {
            "description": "Unauthorized - Missing API Key."
          },
          "403": {
            "description": "Forbidden - Invalid API Key."
          }
        }
      }
    },
    "/verify/plant-names": {
      "post": {
        "tags": ["Validation"],
        "summary": "Verify Plant Names",
        "description": "Validate botanical species names against 11 authoritative taxonomic databases with AI fallback. Queries GBIF, TNRS (WFO), POWO (Kew), iNaturalist, EOL, ALA, IP Australia PBR, UPOV, WikiSpecies, Wikidata, and Wikipedia in parallel. Returns unified taxonomic records with consensus scoring. Accepts input as: (1) JSON body with species_names array, (2) JSON body with file_url from TUS upload, or (3) multipart form-data with direct file upload.",
        "operationId": "verifyPlantNames",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Object containing species names to validate or file reference.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateSpeciesRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload. Supports: JSON, XLSX, XLS, CSV, PDF, TXT."
                  },
                  "extraction_column": {
                    "type": "string",
                    "description": "Column name containing species names for spreadsheet files."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful validation with unified taxonomic records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateSpeciesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input or no species names found."
          },
          "401": {
            "description": "Unauthorized - Missing API Key."
          },
          "403": {
            "description": "Forbidden - Invalid API Key or usage limit exceeded."
          },
          "500": {
            "description": "Internal Server Error - Species validation failed."
          }
        }
      }
    },
    "/sources/taxonomic": {
      "get": {
        "tags": ["Validation"],
        "summary": "List Taxonomic Sources",
        "description": "Returns metadata about all 12 taxonomic data sources used by the species validation system, including authority weights and cache durations. No authentication required.",
        "operationId": "listTaxonomicSources",
        "responses": {
          "200": {
            "description": "List of taxonomic sources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonomicSourcesResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RouteDiscoveryResponse": {
        "type": "object",
        "properties": {
          "routes": {
            "type": "array",
            "description": "List of available post-upload processing routes",
            "items": {
              "$ref": "#/components/schemas/Route"
            }
          },
          "version": {
            "type": "string",
            "description": "API version for the route schema",
            "example": "1.0"
          }
        },
        "example": {
          "routes": [
            {
              "id": "verify-pot-sizes",
              "name": "Verify Pot Sizes",
              "description": "Classify pot sizes and plant specifications into Growth Equivalent Hierarchy categories",
              "endpoint": "/v1/verify/pot-sizes",
              "method": "POST",
              "requires_auth": true,
              "accepted_file_types": [".json", ".xlsx", ".xls", ".pdf", ".txt", ".png", ".jpg", ".jpeg", ".gif", ".webp"],
              "category": "enrichment"
            }
          ],
          "version": "1.0"
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique route identifier",
            "example": "verify-pot-sizes"
          },
          "name": {
            "type": "string",
            "description": "Human-readable route name for display in UIs",
            "example": "Resolve Specifications"
          },
          "description": {
            "type": "string",
            "description": "Description of what this route does",
            "example": "Classify pot sizes and plant specifications into Growth Equivalent Hierarchy categories"
          },
          "endpoint": {
            "type": "string",
            "description": "Full API endpoint path",
            "example": "/v1/verify/pot-sizes"
          },
          "method": {
            "type": "string",
            "description": "HTTP method",
            "example": "POST"
          },
          "requires_auth": {
            "type": "boolean",
            "description": "Whether the route requires a delegation token",
            "example": true
          },
          "accepted_file_types": {
            "type": "array",
            "description": "File extensions this route can process",
            "items": {
              "type": "string"
            },
            "example": [".json", ".xlsx", ".xls", ".pdf", ".txt", ".png", ".jpg", ".jpeg", ".gif", ".webp"]
          },
          "category": {
            "type": "string",
            "description": "Optional category for grouping routes",
            "example": "enrichment"
          }
        }
      },
      "ResolveSpecsRequest": {
        "type": "object",
        "description": "Request body for /verify/pot-sizes. Accepts items array, file_url, or multipart file upload.",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of raw strings representing pot sizes or plant states. Takes precedence over file inputs.",
            "items": {
              "type": "string"
            }
          },
          "file_url": {
            "type": "string",
            "description": "URL to a previously uploaded file (from TUS storage). Must be from secure.superseeded.ai or api.superseeded.ai."
          },
          "filename": {
            "type": "string",
            "description": "Optional filename hint for format detection when using file_url."
          },
          "extraction_type": {
            "type": "string",
            "description": "What to extract from files: pot_sizes, species, or generic.",
            "default": "pot_sizes"
          }
        },
        "example": {
          "items": ["140mm", "400mm AS", "20L Bag", "Ex-Ground"]
        }
      },
      "ResolveSpecsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResolvedItem"
            }
          }
        }
      },
      "ResolvedItem": {
        "type": "object",
        "properties": {
          "input_label": {
            "type": "string",
            "description": "The original raw string provided in the request.",
            "example": "400mm AS"
          },
          "match_confidence": {
            "type": "string",
            "enum": ["Exact", "High", "Medium", "Low", "None"],
            "description": "The confidence level of the semantic match.",
            "example": "High"
          },
          "external_ids": {
            "type": "object",
            "nullable": true,
            "description": "A map of foreign key IDs from external systems.",
            "properties": {
              "evergreenconnect_potsize_id": {
                "type": "integer",
                "description": "The precise Evergreen Connect ID if an exact match is found.",
                "example": 823
              }
            }
          },
          "standard_data": {
            "$ref": "#/components/schemas/ContainerProfile"
          }
        }
      },
      "ContainerProfile": {
        "type": "object",
        "description": "The standardized biological and logistical profile for this container type.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The standardized unique key for this container type.",
            "example": "Pot - Air Pruning"
          },
          "stage_order": {
            "type": "integer",
            "description": "Numeric sort order for biological maturity (0=Seed, 5=Mature, 99=Non-Plant).",
            "example": 4
          },
          "stage_name": {
            "type": "string",
            "description": "Human-readable category of the production stage.",
            "example": "Advanced Production"
          },
          "is_biological": {
            "type": "boolean",
            "description": "Indicates if the item is a living plant vs hard goods.",
            "example": true
          },
          "matching_strategy": {
            "type": "string",
            "description": "Hint for how to compare stock of this type (e.g., Volume vs Diameter).",
            "example": "Volume"
          },
          "logistics": {
            "type": "object",
            "properties": {
              "tier": {
                "type": "string",
                "enum": ["Parcel", "Pallet", "Specialized", "N/A"],
                "example": "Pallet"
              },
              "is_stackable": {
                "type": "boolean",
                "description": "If true, items can be stacked vertically, reducing freight cost.",
                "example": false
              },
              "freight_efficiency": {
                "type": "string",
                "example": "Medium"
              }
            }
          },
          "quality_profile": {
            "type": "object",
            "properties": {
              "transplant_shock_risk": {
                "type": "string",
                "example": "Very Low"
              },
              "seasonal_restriction": {
                "type": "string",
                "example": "None"
              },
              "inspection_focus": {
                "type": "string",
                "description": "The primary attribute to check during quality inspection.",
                "example": "Desiccation"
              }
            }
          },
          "customer_note": {
            "type": "string",
            "description": "User-friendly note explaining the pros/cons of this type.",
            "example": "Superior root structure; requires more frequent watering until planted."
          }
        }
      },
      "ValidateSpeciesRequest": {
        "type": "object",
        "properties": {
          "species_names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of species names to validate",
            "example": ["Eucalyptus globulus", "Acacia melanoxylon"]
          },
          "file_url": {
            "type": "string",
            "description": "URL to uploaded file containing species names",
            "example": "https://secure.superseeded.ai/files/abc123"
          },
          "filename": {
            "type": "string",
            "description": "Original filename for context",
            "example": "species_list.xlsx"
          },
          "extraction_column": {
            "type": "string",
            "description": "Column name containing species names in spreadsheet files",
            "example": "Botanical Name"
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["gbif", "tnrs", "powo", "inaturalist", "eol", "ala", "ip_australia", "upov", "wikispecies", "wikidata", "wikipedia"]
            },
            "description": "Specific sources to query. Defaults to all 11 sources (excludes gemini AI fallback). Gemini is only used when all other sources return no match.",
            "example": ["gbif", "tnrs", "powo"]
          },
          "include_metadata": {
            "type": "boolean",
            "default": true,
            "description": "Include detailed taxonomic metadata"
          },
          "cache_results": {
            "type": "boolean",
            "default": true,
            "description": "Cache results for future queries"
          }
        }
      },
      "ValidateSpeciesResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UnifiedTaxonomicRecord"
            },
            "description": "Array of unified taxonomic records, one per species"
          },
          "summary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total species processed"
              },
              "validated": {
                "type": "integer",
                "description": "Count with validated status (high confidence)"
              },
              "uncertain": {
                "type": "integer",
                "description": "Count with uncertain status (requires review)"
              },
              "not_found": {
                "type": "integer",
                "description": "Count with not_found status"
              }
            }
          }
        }
      },
      "TaxonomicSourcesResponse": {
        "type": "object",
        "properties": {
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomicSource"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of available sources"
          }
        },
        "example": {
          "sources": [
            {
              "id": "tnrs",
              "name": "Taxonomic Name Resolution Service (WFO)",
              "description": "World Flora Online taxonomic authority",
              "authority_weight": 1.0,
              "cache_ttl_hours": 720
            }
          ],
          "total": 12
        }
      },
      "TaxonomicSource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Source identifier"
          },
          "name": {
            "type": "string",
            "description": "Human-readable source name"
          },
          "description": {
            "type": "string",
            "description": "Brief description of the source"
          },
          "authority_weight": {
            "type": "number",
            "minimum": 0.0,
            "maximum": 1.0,
            "description": "Weight in consensus algorithm"
          },
          "cache_ttl_hours": {
            "type": "integer",
            "description": "Cache duration in hours"
          },
          "fallback_only": {
            "type": "boolean",
            "description": "If true, only used when all other sources return no match (Gemini AI only)"
          }
        }
      },
      "UnifiedTaxonomicRecord": {
        "type": "object",
        "properties": {
          "query": {
            "type": "object",
            "properties": {
              "submitted_name": {
                "type": "string",
                "description": "Original species name as submitted"
              },
              "normalized_name": {
                "type": "string",
                "description": "Lowercase, trimmed version used for matching"
              },
              "query_timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp of the query"
              }
            }
          },
          "validation": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": ["validated", "uncertain", "not_found"],
                "description": "Validation result"
              },
              "confidence": {
                "type": "string",
                "enum": ["high", "medium", "low"],
                "description": "Confidence level"
              },
              "consensus_score": {
                "type": "number",
                "minimum": 0.0,
                "maximum": 1.0,
                "description": "0.0-1.0 score based on source agreement"
              },
              "sources_checked": {
                "type": "integer",
                "description": "Number of sources that returned results"
              },
              "sources_matched": {
                "type": "integer",
                "description": "Number of sources with a match"
              },
              "match_summary": {
                "type": "object",
                "properties": {
                  "exact_matches": {
                    "type": "integer"
                  },
                  "inexact_matches": {
                    "type": "integer"
                  },
                  "no_match": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "accepted_name": {
            "type": "object",
            "properties": {
              "scientific_name": {
                "type": "string",
                "description": "Accepted scientific name determined by consensus"
              },
              "author": {
                "type": "string",
                "description": "Taxonomic author"
              },
              "nomenclatural_status": {
                "type": "string",
                "enum": ["accepted", "synonym", "unresolved", "not_found"],
                "description": "Nomenclatural status"
              },
              "common_names": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    }
                  }
                }
              },
              "taxonomic_rank": {
                "type": "string",
                "description": "Rank: species, subspecies, variety, etc."
              }
            }
          },
          "taxonomy": {
            "type": "object",
            "properties": {
              "kingdom": {
                "type": "string",
                "example": "Plantae"
              },
              "family": {
                "type": "string",
                "description": "Plant family"
              },
              "genus": {
                "type": "string",
                "description": "Genus name"
              },
              "species": {
                "type": "string",
                "description": "Species epithet"
              },
              "subspecies": {
                "type": "string",
                "nullable": true
              },
              "variety": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "cross_references": {
            "type": "object",
            "properties": {
              "gbif_id": {
                "type": "string",
                "description": "GBIF taxon key"
              },
              "wfo_id": {
                "type": "string",
                "description": "World Flora Online ID"
              },
              "powo_id": {
                "type": "string",
                "description": "Plants of the World Online ID"
              },
              "eol_id": {
                "type": "string",
                "description": "Encyclopedia of Life page ID"
              },
              "ala_guid": {
                "type": "string",
                "description": "Atlas of Living Australia GUID"
              },
              "wikidata_id": {
                "type": "string",
                "description": "Wikidata entity ID"
              },
              "inaturalist_taxon_id": {
                "type": "string",
                "description": "iNaturalist taxon ID"
              },
              "pbr_numbers": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "IP Australia PBR identifiers"
              },
              "upov_code": {
                "type": "string",
                "description": "UPOV variety code"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "quality_score": {
                "type": "number",
                "minimum": 0.0,
                "maximum": 1.0,
                "description": "Overall data quality score"
              },
              "api_version": {
                "type": "string",
                "description": "API version"
              },
              "processing_time_seconds": {
                "type": "number",
                "description": "Processing time"
              }
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Data quality warnings or conflicts"
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Informational notes about validation"
          }
        },
        "example": {
          "query": {
            "submitted_name": "Eucalyptus globulus",
            "normalized_name": "eucalyptus globulus",
            "query_timestamp": "2025-01-15T10:30:00Z"
          },
          "validation": {
            "status": "validated",
            "confidence": "high",
            "consensus_score": 0.98,
            "sources_checked": 11,
            "sources_matched": 9,
            "match_summary": {
              "exact_matches": 8,
              "inexact_matches": 1,
              "no_match": 0
            }
          },
          "accepted_name": {
            "scientific_name": "Eucalyptus globulus",
            "author": "Labill.",
            "nomenclatural_status": "accepted",
            "common_names": [
              {
                "name": "Tasmanian Blue Gum",
                "language": "en",
                "region": "Global"
              }
            ],
            "taxonomic_rank": "species"
          },
          "taxonomy": {
            "kingdom": "Plantae",
            "family": "Myrtaceae",
            "genus": "Eucalyptus",
            "species": "globulus",
            "subspecies": null,
            "variety": null
          },
          "cross_references": {
            "gbif_id": "3176787",
            "wfo_id": "946382",
            "powo_id": "urn:lsid:ipni.org:names:30001419-2",
            "eol_id": "301421",
            "ala_guid": "https://id.biodiversity.org.au/taxon/apni/51440555",
            "wikidata_id": "Q159528",
            "inaturalist_taxon_id": "53398",
            "pbr_numbers": ["1990/106"],
            "upov_code": "EUCAL_GLO"
          },
          "metadata": {
            "quality_score": 0.9,
            "api_version": "1.0.0",
            "processing_time_seconds": 4.67
          },
          "warnings": [],
          "notes": [
            "Name validated against 9 authoritative botanical databases",
            "Confirmed by: Taxonomic Name Resolution Service (WFO), Plants of the World Online (Kew Gardens), Global Biodiversity Information Facility"
          ]
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Standard API Key authentication."
      }
    }
  }
}