{
  "openapi": "3.1.0",
  "info": {
    "title": "Superseeded API",
    "description": "Modern nursery industry API for reconciling plant specifications, resolving equivalence and assessing logistical risks for plant stock.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "name": "Superseeded Support"
    }
  },
  "servers": [
    {
      "url": "https://api.superseeded.ai/v1",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "Resolvers",
      "description": "Endpoints for cleaning, normalizing, and interpreting messy nursery data."
    },
    {
      "name": "System",
      "description": "Health checks and service status."
    }
  ],
  "paths": {
    "/routes/from-upload": {
      "get": {
        "tags": ["System"],
        "summary": "Route Discovery",
        "description": "Returns a list of available API routes that can be called after a file upload completes. This allows integrations to dynamically discover what processing options are available.",
        "operationId": "getRoutesFromUpload",
        "responses": {
          "200": {
            "description": "List of available post-upload processing routes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteDiscoveryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "tags": ["System"],
        "summary": "Service Health Check",
        "description": "Verifies that the API gateway and underlying matcher services are operational.",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "service": {
                      "type": "string",
                      "example": "Superseeded Resolver Service"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/resolve/specs": {
      "post": {
        "tags": ["Resolvers"],
        "summary": "Resolve Specs",
        "description": "Unified endpoint for resolving plant specifications. Accepts input as: (1) JSON body with items array, (2) JSON body with file_url from TUS upload, or (3) multipart form-data with direct file upload. Supported file formats: JSON, XLSX, XLS, PDF, TXT, PNG, JPG, JPEG, GIF, WEBP. Authentication: Basic/Pro plans use X-API-Key header; Teams plans with platform integration require Authorization Bearer token.",
        "operationId": "resolveSpecs",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "Object containing a list of raw spec strings to be resolved.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveSpecsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful resolution with detailed hierarchy data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveSpecsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid JSON format."
          },
          "401": {
            "description": "Unauthorized - Missing API Key."
          },
          "403": {
            "description": "Forbidden - Invalid API Key."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RouteDiscoveryResponse": {
        "type": "object",
        "properties": {
          "routes": {
            "type": "array",
            "description": "List of available post-upload processing routes",
            "items": {
              "$ref": "#/components/schemas/Route"
            }
          },
          "version": {
            "type": "string",
            "description": "API version for the route schema",
            "example": "1.0"
          }
        },
        "example": {
          "routes": [
            {
              "id": "resolve-specs",
              "name": "Resolve Specifications",
              "description": "Classify pot sizes and plant specifications into Growth Equivalent Hierarchy categories",
              "endpoint": "/v1/resolve/specs",
              "method": "POST",
              "requires_auth": true,
              "accepted_file_types": [".json", ".xlsx", ".xls", ".pdf", ".txt", ".png", ".jpg", ".jpeg", ".gif", ".webp"],
              "category": "enrichment"
            }
          ],
          "version": "1.0"
        }
      },
      "Route": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique route identifier",
            "example": "resolve-specs"
          },
          "name": {
            "type": "string",
            "description": "Human-readable route name for display in UIs",
            "example": "Resolve Specifications"
          },
          "description": {
            "type": "string",
            "description": "Description of what this route does",
            "example": "Classify pot sizes and plant specifications into Growth Equivalent Hierarchy categories"
          },
          "endpoint": {
            "type": "string",
            "description": "Full API endpoint path",
            "example": "/v1/resolve/specs"
          },
          "method": {
            "type": "string",
            "description": "HTTP method",
            "example": "POST"
          },
          "requires_auth": {
            "type": "boolean",
            "description": "Whether the route requires a delegation token",
            "example": true
          },
          "accepted_file_types": {
            "type": "array",
            "description": "File extensions this route can process",
            "items": {
              "type": "string"
            },
            "example": [".json", ".xlsx", ".xls", ".pdf", ".txt", ".png", ".jpg", ".jpeg", ".gif", ".webp"]
          },
          "category": {
            "type": "string",
            "description": "Optional category for grouping routes",
            "example": "enrichment"
          }
        }
      },
      "ResolveSpecsRequest": {
        "type": "object",
        "description": "Request body for /resolve/specs. Accepts items array, file_url, or multipart file upload.",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of raw strings representing pot sizes or plant states. Takes precedence over file inputs.",
            "items": {
              "type": "string"
            }
          },
          "file_url": {
            "type": "string",
            "description": "URL to a previously uploaded file (from TUS storage). Must be from secure.superseeded.ai or api.superseeded.ai."
          },
          "filename": {
            "type": "string",
            "description": "Optional filename hint for format detection when using file_url."
          },
          "extraction_type": {
            "type": "string",
            "description": "What to extract from files: pot_sizes, species, or generic.",
            "default": "pot_sizes"
          }
        },
        "example": {
          "items": ["140mm", "400mm AS", "20L Bag", "Ex-Ground"]
        }
      },
      "ResolveSpecsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResolvedItem"
            }
          }
        }
      },
      "ResolvedItem": {
        "type": "object",
        "properties": {
          "input_label": {
            "type": "string",
            "description": "The original raw string provided in the request.",
            "example": "400mm AS"
          },
          "match_confidence": {
            "type": "string",
            "enum": ["Exact", "High", "Medium", "Low", "None"],
            "description": "The confidence level of the semantic match.",
            "example": "High"
          },
          "external_ids": {
            "type": "object",
            "nullable": true,
            "description": "A map of foreign key IDs from external systems.",
            "properties": {
              "evergreenconnect_potsize_id": {
                "type": "integer",
                "description": "The precise Evergreen Connect ID if an exact match is found.",
                "example": 823
              }
            }
          },
          "standard_data": {
            "$ref": "#/components/schemas/ContainerProfile"
          }
        }
      },
      "ContainerProfile": {
        "type": "object",
        "description": "The standardized biological and logistical profile for this container type.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The standardized unique key for this container type.",
            "example": "Pot - Air Pruning"
          },
          "stage_order": {
            "type": "integer",
            "description": "Numeric sort order for biological maturity (0=Seed, 5=Mature, 99=Non-Plant).",
            "example": 4
          },
          "stage_name": {
            "type": "string",
            "description": "Human-readable category of the production stage.",
            "example": "Advanced Production"
          },
          "is_biological": {
            "type": "boolean",
            "description": "Indicates if the item is a living plant vs hard goods.",
            "example": true
          },
          "matching_strategy": {
            "type": "string",
            "description": "Hint for how to compare stock of this type (e.g., Volume vs Diameter).",
            "example": "Volume"
          },
          "logistics": {
            "type": "object",
            "properties": {
              "tier": {
                "type": "string",
                "enum": ["Parcel", "Pallet", "Specialized", "N/A"],
                "example": "Pallet"
              },
              "is_stackable": {
                "type": "boolean",
                "description": "If true, items can be stacked vertically, reducing freight cost.",
                "example": false
              },
              "freight_efficiency": {
                "type": "string",
                "example": "Medium"
              }
            }
          },
          "quality_profile": {
            "type": "object",
            "properties": {
              "transplant_shock_risk": {
                "type": "string",
                "example": "Very Low"
              },
              "seasonal_restriction": {
                "type": "string",
                "example": "None"
              },
              "inspection_focus": {
                "type": "string",
                "description": "The primary attribute to check during quality inspection.",
                "example": "Desiccation"
              }
            }
          },
          "customer_note": {
            "type": "string",
            "description": "User-friendly note explaining the pros/cons of this type.",
            "example": "Superior root structure; requires more frequent watering until planted."
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Standard API Key authentication."
      }
    }
  }
}