{
  "openapi": "3.1.0",
  "info": {
    "title": "Superseeded API",
    "description": "Modern nursery industry API for reconciling plant specifications, resolving equivalence and assessing logistical risks for plant stock.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    },
    "contact": {
      "name": "Superseeded Support"
    }
  },
  "servers": [
    {
      "url": "https://api.superseeded.ai/v1",
      "description": "Production Server"
    }
  ],
  "tags": [
    {
      "name": "Resolvers",
      "description": "Endpoints for cleaning, normalizing, and interpreting messy nursery data."
    },
    {
      "name": "System",
      "description": "Health checks and service status."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": ["System"],
        "summary": "Service Health Check",
        "description": "Verifies that the API gateway and underlying matcher services are operational.",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "service": {
                      "type": "string",
                      "example": "Superseeded Resolver Service"
                    },
                    "version": {
                      "type": "string",
                      "example": "1.0.0"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/resolve/specs": {
      "post": {
        "tags": ["Resolvers"],
        "summary": "Resolve Specs",
        "description": "Takes a list of raw, unstructured container strings (e.g., '400mm AS', '20L Bag') and maps them to a standardized 'Growth Equivalent' hierarchy. The response enriches each item with biological maturity stages, logistical data (stackability, freight tier), and quality inspection risks.",
        "operationId": "resolveSpecs",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "description": "List of raw spec strings to be resolved.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveSpecsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful resolution with detailed hierarchy data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveSpecsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid JSON format."
          },
          "401": {
            "description": "Unauthorized - Missing API Key."
          },
          "403": {
            "description": "Forbidden - Invalid API Key."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResolveSpecsRequest": {
        "type": "object",
        "required": ["items"],
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of raw strings representing pot sizes or plant states.",
            "items": {
              "type": "string"
            },
            "example": ["140mm", "400mm AS", "20L Bag", "Ex-Ground"]
          }
        }
      },
      "ResolveSpecsResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResolvedItem"
            }
          }
        }
      },
      "ResolvedItem": {
        "type": "object",
        "properties": {
          "input_label": {
            "type": "string",
            "description": "The original raw string provided in the request.",
            "example": "400mm AS"
          },
          "match_confidence": {
            "type": "string",
            "enum": ["Exact", "High", "Medium", "Low", "None"],
            "description": "The confidence level of the semantic match.",
            "example": "High"
          },
          "standard_data": {
            "$ref": "#/components/schemas/ContainerProfile"
          }
        }
      },
      "ContainerProfile": {
        "type": "object",
        "description": "The standardized biological and logistical profile for this container type.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The standardized unique key for this container type.",
            "example": "Pot - Air Pruning"
          },
          "stage_order": {
            "type": "integer",
            "description": "Numeric sort order for biological maturity (0=Seed, 5=Mature, 99=Non-Plant).",
            "example": 4
          },
          "stage_name": {
            "type": "string",
            "description": "Human-readable category of the production stage.",
            "example": "Advanced Production"
          },
          "is_biological": {
            "type": "boolean",
            "description": "Indicates if the item is a living plant vs hard goods.",
            "example": true
          },
          "matching_strategy": {
            "type": "string",
            "description": "Hint for how to compare stock of this type (e.g., Volume vs Diameter).",
            "example": "Volume"
          },
          "logistics": {
            "type": "object",
            "properties": {
              "tier": {
                "type": "string",
                "enum": ["Parcel", "Pallet", "Specialized", "N/A"],
                "example": "Pallet"
              },
              "is_stackable": {
                "type": "boolean",
                "description": "If true, items can be stacked vertically, reducing freight cost.",
                "example": false
              },
              "freight_efficiency": {
                "type": "string",
                "example": "Medium"
              }
            }
          },
          "quality_profile": {
            "type": "object",
            "properties": {
              "transplant_shock_risk": {
                "type": "string",
                "example": "Very Low"
              },
              "seasonal_restriction": {
                "type": "string",
                "example": "None"
              },
              "inspection_focus": {
                "type": "string",
                "description": "The primary attribute to check during quality inspection.",
                "example": "Desiccation"
              }
            }
          },
          "customer_note": {
            "type": "string",
            "description": "User-friendly note explaining the pros/cons of this type.",
            "example": "Superior root structure; requires more frequent watering until planted."
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Standard API Key authentication."
      }
    }
  }
}